$bg-ocean: linear-gradient(0deg, rgba(43,56,143,1) 0%, rgba(0,173,238,1) 100%)
$bg-silver: linear-gradient(0deg, rgba(102,103,102,1) 0%, rgba(97,98,99,1) 24%, rgba(255,255,255,1) 53%, rgba(179,180,183,1) 77%, rgba(115,115,119,1) 100%)

$fg-on-dark-bg: #fff
$fg-on-light-bg: #000

$font-color-on-dark: #e4e4e4
$font-color-on-light: #181818

$layout-breakpoint-medium: 768px
